@media screen and (max-width: 1125px) {

    // OFFERS STEPS
    #steps {
        .container {
            .steps-content {
                .steps {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {

    // ORDER HEADER
    #order-header {
        .order-nav {
            .order-top {
                font-size: 16px;
                padding: 12px 0;

                .order-logo {
                    h1 {
                        span {
                            margin-top: -5px;
                            font-size: 7px;
                        }
                    }
                }

                .access-links {
                    a {
                        font-size: 22px;
                    }
                }
            }

            .order-options {

                .delivery-nav,
                .collect-nav {
                    // margin: 80px 10px 0;
                    font-size: 22px;
                }
            }
        }
    }

    #main-area {

        // FOOTER
        #footer {
            .container {
                .top {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;

                    .column {
                        margin: 10px 20px;
                    }
                }

                // BOTTOM AREA
                .bottom {
                    display: grid;
                    grid-template-columns: 1fr;
                    text-align: center;



                    .bottom-logo {
                        .store {
                            display: flex;
                            margin: 20px 0 20px;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .rights {
                        display: flex;
                        justify-self: center;
                    }
                }

            }
        }
    }
}


@media (max-width: 769px) {
    // HOME PAGE
    #header {
        .top {
            overflow: hidden;

            .container {
                // padding: 0 25px 0 5px;
                padding-right: 20px;
                overflow: hidden;

                .sidenav {
                    position: fixed;
                    width: 310px;
                    height: 100%;
                    background-color: $ivory;
                    top: 120px;
                    left: -310px;
                    padding-top: 20px;
                    overflow: hidden;
                    transition: left .4s ease-in-out;
                    display: block;
                    text-align: left;

                    li {
                        padding: 10px 25px;
                        width: 100%;
                    }

                    &.show {
                        left: 0;
                    }

                    a {
                        color: $dark;
                    }

                }
            }
        }
    }

    // OFFERS PAGE (STEPS AREA)
    #steps {
        padding: 70px 120px 100px;

        .container {
            .steps-content {
                .steps {
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    // ORDER PAGE, DELIVERY SECTION
    #delivery {
        padding: 120px 5px 0;
        background-color: $ivory;
        color: $dark;
    
        a {
            color: $dark;
        }
    
        .container {
            max-width: 1200px;
            margin: 0 auto;
    
            .delivery-content {
                display: block;
                grid-column-gap: 20px;
                padding: 50px 0;
    
                .delivery-form-content {
                    padding: 0 25px;
                    text-align: center;
    
                    .form-heading {
                        text-transform: uppercase;
                        padding-bottom: 25px;
                    }
    
                    #delivery-form {
                        width: 100%;
    
                        input {
                            width: 100%;
                            padding: 13px 10px;
                            font-family: 'Oswald', sans-serif;
                            border: 1px solid $tomato;
                            color: $dark;
                            font-size: 16px;
                             font-weight: 100;
    
                            &:focus {
                                outline: none;
                                border: 1px dashed $yellow;
                            }
    
                            &::placeholder {
                                color: $dark;
    
                            }
    
                            &:first-child {
                                margin-bottom: 8px;
                            }
                        }
    
                        .limited {
                            text-transform: uppercase;
                        }
    
                        .look-up {
                            margin: 16px 0 30px;
                            text-align: left;
    
    
                            .delivery-button,
                            .cancel {
                                padding: 10px 12px;
                                text-transform: uppercase;
                                font-size: 12px;
                                font-weight: 800;
                                background: $tomato;
                                color: $white;
                                cursor: pointer;
                                border: 1px solid transparent;
    
                                &:focus {
                                    outline: none;
                                }
                            }
    
                            .cancel {
                                background: $dark;
                                margin: 0 3px;
                            }
                        }
    
    
    
                        .phone {
                            margin: 20px 0;
                        }
    
                        input.use {
                            color: $white;
                            background: $tomato;
                            cursor: pointer;
                            margin-bottom: 20px;
                            text-transform: uppercase;
                            // font-weight: 800;
                        }
                    }
                }
    
                .apply {
                    max-width: 100%;
                    padding: 0 25px;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;

                    hr{
                        width: 100%;
                        display: block;
                        height: 1px ;
                        background-color:  $tomato;
                        border: none;
                        margin: 15px 0 35px;
                    }
    
                    .redeem-points {
                        text-transform: uppercase;
                        line-height: 1.1;
                        font-weight: 800;
                        font-size: 25px;
                        border-bottom: 1px solid $tomato;
                        padding-bottom: 14px;
                        vertical-align: middle;
                        display: inline-block;
                    }
    
                    .member {
                        padding-top: 10px;
                        text-transform: uppercase;
                    }
    
                    .redeem-input {
                        margin: 20px 0;
                        width: 100%;
                        display: block;
    
                        input {
                            padding: 13px 10px;
                            width: 100%;
                            vertical-align: middle;
                            display: inline-block;
                            font-family: 'Oswald', sans-serif;
                            border: 1px solid $tomato;
                            color: $dark;
                            font-size: 16px;
                            font-weight: 100;
    
                            &:focus {
                                outline: none;
                                border: 1px dashed $yellow;
                            }
    
                            &::placeholder {
                                color: $dark;
                            }
                        }
    
                        a {
                            margin-top: 15px;
                            display: block;
                            border: 2px solid $tomato;
                            min-width: 100%;
                            height: 51.5px;
                            text-align: center;
                            line-height: 3.0;
                            text-transform: uppercase;
                            transition: .3s ease-in-out;
                            // max-width: 28%;
                            overflow: auto;
    
                            &:hover {
                                color: $white;
                                background-color: $tomato;
                                border: 2px solid transparent;
                            }
                        }
                    }

                    p{
                        text-align: center;
                    }
    
                    .yet {
                        a {
                            color: $tomato;
                           
    
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 700px) {

    // MENU
    #menu-header {
        .top {
            .navigation {
                font-size: 16px;

                .logo-holder {
                    a {
                        .logo {
                            span {
                                margin-top: -7px;
                                font-size: 7px;
                            }
                        }
                    }
                }
            }
        }

        #menu-list {

            .list-items {
                .items {
                    flex-wrap: wrap;
                }
            }
        }
    }

    // OFFERS SIGN UP
    #sign-up-offers {

        .container {
            .sign-up-content {
                h1 {
                    font-size: 30px;
                }

                #sign-up-form {
                    grid-template-columns: 1fr;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 605px) {

    // OFFERS STEPS
    #steps {
        padding: 70px 50px 100px;
    }
}

@media screen and (max-width: 550px) {
    #main-area {

        // FOOTER
        #footer {
            padding: 40px 4px 70px;

            .container {
                .top {
                    display: flex;
                    // flex-wrap: nowrap;
                    justify-content: space-evenly;

                    .column {
                        margin: 10px 5px;

                        ul {
                            li {
                                font-size: 14px;
                            }
                        }
                    }

                    .column.four {
                        .social {
                            li {
                                a {
                                    .fab {
                                        border: 1px solid $dark;
                                        border-radius: 50%;
                                        height: 35px;
                                        width: 35px;
                                        font-size: 18px;
                                        line-height: 1.85;
                                        transition: .3s ease-out;
                                    }
                                }
                            }
                        }
                    }
                }

                // BOTTOM AREA
                .bottom {
                    display: grid;
                    grid-template-columns: 1fr;
                    text-align: center;



                    .bottom-logo {
                        .store {
                            display: flex;
                            margin: 20px 0 20px;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .rights {
                        display: flex;
                        justify-content: space-evenly;
                        text-align: center;

                        li {
                            font-size: 14px;
                        }
                    }
                }

            }
        }
    }
}


@media screen and (max-width: 530px) {

    // MENU
    #menu-header {
        .top {
            .navigation {
                padding-right: 30px;
                font-size: 10px;

                .logo-holder {
                    a {
                        .logo {
                            span {
                                margin-top: -6px;
                                font-size: 7px;
                            }
                        }
                    }
                }

                li {

                    &:nth-child(2),
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }

    // OFFERS SIGN UP AREA
    #sign-up-offers {
        padding: 120px 20px 0;

        .container {
            .sign-up-content {
                h1 {
                    font-size: 25px;
                }

                #sign-up-form {
                    input {
                        padding: 22px 15px;
                        font-size: 15px;
                    }

                    .button {
                        font-size: 18px;
                    }

                }
            }
        }
    }

    // OFFERS STEPS
    #steps {
        padding: 70px 20px 100px;

        .container {
            .steps-content {
                .steps-button {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #header {
        .top {
            overflow: hidden;

            .container {
                // padding: 0 25px 0 5px;
                padding-right: 20px;
                overflow: hidden;
                font-size: 14px;

                .logo-holder{
                    padding-left: 5px;
                    a{
                        .chef{
                            width: 40px;
                        }

                        .logo{
                            span{
                                margin-top: -7px;
                                font-size: 6px;
                            }
                        }
                    }
                }

               

                .sidenav {
                    position: fixed;
                    width: 310px;
                    height: 100%;
                    background-color: $ivory;
                    top: 120px;
                    left: -310px;
                    padding-top: 20px;
                    overflow: hidden;
                    transition: left .4s ease-in-out;
                    display: block;
                    text-align: left;

                    li {
                        padding: 10px 25px;
                        width: 100%;
                    }

                    &.show {
                        left: 0;
                    }

                    a {
                        color: $dark;
                    }

                }
            }
        }
    }

    // ORDER PAGE, DELIVERY SECTION
    #delivery {
        padding: 120px 2px 0;
        background-color: $ivory;
        color: $dark;

        a {
            color: $dark;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;

            .delivery-content {
                display: block;
                grid-column-gap: 20px;
                padding: 50px 0;

                .delivery-form-content {
                    padding: 0 12px;
                    text-align: center;

                    .form-heading {
                        text-transform: uppercase;
                        padding-bottom: 25px;
                        font-size: 20px;
                    }

                    #delivery-form {
                        width: 100%;

                        input {
                            width: 100%;
                            padding: 13px 10px;
                            font-family: 'Oswald', sans-serif;
                            border: 1px solid $tomato;
                            color: $dark;
                            font-size: 14px;
                            font-weight: 100;

                            &:focus {
                                outline: none;
                                border: 1px dashed $yellow;
                            }

                            &::placeholder {
                                color: $dark;

                            }

                            &:first-child {
                                margin-bottom: 1px;
                            }
                        }

                        .limited {
                            text-transform: uppercase;
                            font-size: 10px;
                        }

                        .look-up {
                            margin: 16px 0 30px;
                            text-align: left;


                            .delivery-button,
                            .cancel {
                                padding: 10px 12px;
                                text-transform: uppercase;
                                font-size: 9px;
                                font-weight: 800;
                                background: $tomato;
                                color: $white;
                                cursor: pointer;
                                border: 1px solid transparent;

                                &:focus {
                                    outline: none;
                                }
                            }

                            .cancel {
                                background: $dark;
                                margin: 0 3px;
                            }
                        }



                        .phone {
                            margin: 20px 0;
                        }

                        input.use {
                            color: $white;
                            background: $tomato;
                            cursor: pointer;
                            margin-bottom: 20px;
                            text-transform: uppercase;
                        }
                    }

                    p{
                        font-size: 12px;
                    }
                }

                .apply {
                    max-width: 100%;
                    padding: 0 12px;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;

                    hr {
                        width: 100%;
                        display: block;
                        height: 1px;
                        background-color: $tomato;
                        border: none;
                        margin: 15px 0 35px;
                    }

                    .redeem-points {
                        text-transform: uppercase;
                        line-height: 1.1;
                        font-weight: 800;
                        font-size: 20px;
                        border-bottom: 1px solid $tomato;
                        padding-bottom: 14px;
                        vertical-align: middle;
                        display: inline-block;
                    }

                    .member {
                        padding-top: 10px;
                        text-transform: uppercase;
                    }

                    .redeem-input {
                        margin: 20px 0;
                        width: 100%;
                        display: block;

                        input {
                            padding: 13px 10px;
                            width: 100%;
                            vertical-align: middle;
                            display: inline-block;
                            font-family: 'Oswald', sans-serif;
                            border: 1px solid $tomato;
                            color: $dark;
                            font-size: 14px;
                            font-weight: 100;

                            &:focus {
                                outline: none;
                                border: 1px dashed $yellow;
                            }

                            &::placeholder {
                                color: $dark;
                            }
                        }

                        a {
                            margin-top: 15px;
                            display: block;
                            border: 2px solid $tomato;
                            min-width: 100%;
                            height: 51.5px;
                            text-align: center;
                            line-height: 3.0;
                            text-transform: uppercase;
                            transition: .3s ease-in-out;
                            overflow: auto;

                            &:hover {
                                color: $white;
                                background-color: $tomato;
                                border: 2px solid transparent;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        font-size: 12px;
                    }

                    .yet {
                        a {
                            color: $tomato;


                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}