// HOME PAGE
@media (min-width: 760px)  {
    #header{
        .top{
            background-color: $dark;
            position: fixed;
            height: 120px;
            width: 100%;
            z-index: 2;
            overflow: hidden;

            #navigation {
                position: relative;
                text-align: right; 
                right: 0;
                top: 0;
                width: 100%;
                // display: block;
                height: 120px;
                background-color: $dark;
            //     overflow: hidden;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                transition: none;
               border-bottom: none;
    
                a {
                    color: $white;
                }
    
                li {
                    // padding: 3px 0;
                    //  padding: 7px 0 0 23px;
                    // border: none;
    
                    a {
                    //     position: relative;
                    //     overflow: hidden;
                    //     border: none;
                    color: $white;
    
                    //     &::after {
                    //         content: '';
                    //         position: absolute;
                    //         background: $tomato;
                    //         height: 5px;
                    //         width: 0%;
                    //         transform: translateX(-50%);
                    //         left: 50%;
                    //         bottom: -5px;
                    //         border: none;
                    //         transition: .55s ease-in-out;
                    //     }
    
                    //     &:hover:after {
                    //         width: 100%;
                    //     }
                    }
    
                    // &:first-child {
                    //     font-weight: 100;
                    //     i {
                    //         cursor: pointer;
                    //         color: $tomato;
                    //     }
                    // }
                }
            }

            .hamburger{
                // display: none;
                visibility: hidden;
            }
        }
        
    }
}