// MENU HEADER BEGINS
// HEADER STYLING BEGINS
#menu-header {
    .top {
        background-color: $dark;
        display: block;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: 120px;
        width: 100%;
        z-index: 2;
        overflow: hidden;


        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        * {
            z-index: 1;
        }

        .navigation {

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
            padding: 25px 0;

            .active>a{
                border-bottom: 5px solid $tomato;
            }

            li {
                border: none;
                padding: 1px 15px;

                a {
                    position: relative;
                    overflow: hidden;
                    border: none;


                    &::after {
                        content: '';
                        position: absolute;
                        background: $tomato;
                        height: 5px;
                        width: 0%;
                        transform: translateX(-50%);
                        left: 50%;
                        bottom: -5px;
                        border: none;
                        transition: .55s ease-in-out;
                    }

                    &:hover:after {
                        width: 100%;
                    }


                }
            }

            .logo-holder {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;

                    .chef {
                        width: 50px;
                        display: inline-block;
                    }

                    .logo {
                        display: flex;
                        flex-direction: column;
                        font-family: 'Carter One', cursive;

                        span {
                            margin-top: -12px;
                            font-size: 9px;
                            letter-spacing: 2px;
                            font-family: 'Oswald', sans-serif;
                        }
                    }
                }
            }
        }

    }
}
// MENU HEADER ENDS

// MENU SECTION BEGINS
#menu {
   position: relative;

    a {
        color: $white;
    }

    // MENU LIST BEGINS
   

    #menu-list {
        z-index: 2;
        background-color: $tomato;
        color: $white;
        padding: 10px 70px 30px;

        .list-items {
            max-width: 905px;
            margin: 0 auto;

            .allergen {
                text-align: left;
                margin-bottom: 8px;

                a {
                    text-decoration: underline;
                }
            }

            .items {
                display: flex;
                text-transform: uppercase;
                // align-items: center;
                justify-content: center;
                font-size: 18px;

                .item {
                    margin-right: 50px;

                    a {
                        position: relative;
                        overflow: hidden;
                        border: none;


                        &::after {
                            content: '';
                            position: absolute;
                            background: $white;
                            height: 1px;
                            width: 0%;
                            transform: translateX(-50%);
                            left: 50%;
                            bottom: -5px;
                            border: none;
                            transition: .55s ease-in-out;
                        }

                        &:hover:after {
                            width: 100%;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    span {
                        margin-left: 45px;
                    }
                }
            }
        }
    }
    // MENU LIST ENDS

    // LUNCH, DINNER, THE NOT STEAKS MENU STARTS
    #lunch-menu, #dinner-menu, #not-steaks-menu {
        color: $white;
        background-color: $dark;

        // padding: 0 70px;
        .lunch-header, .dinner-header, .not-steaks-header {
            padding: 32px 70px;
            text-align: center;
            text-transform: uppercase;
            font-size: 22px;
        }

        .lunch-boxes, .dinner-boxes, .not-steaks-boxes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3px;

            .box {
                // width: 100%;
                // height: 350px;
                .content {
                    overflow: hidden;
                    width: 100%;
                    // height: 350px;
                    height: 100%;
                    position: relative;


                    h3 {
                        // text-align: center;
                        position: absolute;
                        left: 30px;
                        bottom: 20px;
                        z-index: 1;
                        font-size: 23px;
                    }

                    .image-contain {
                        transition: .3s ease-in-out;

                        &::after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: rgba(0, 0, 0, 0.2);
                            cursor: pointer;
                        }

                        &:hover{
                            transform: scale(1.06);
                        }

                        a {
                            img {
                                // transition: .3s ease-in-out;
                                display: block;

                                // &:hover{
                                //     transform: scale(1.06);
                                // }
                            }
                        }
                    }
                }




            }
        }
    }

    // LUNCH, DINNER, THE NOT STEAKS MENU ENDS

    // WINES AREA BEGINS
    #wines, #other {
        color: $white;
        background-color: $dark;

        // padding: 0 70px;
        .wines-header, .other-header{
            padding: 32px 70px;
            text-align: center;
            text-transform: uppercase;
            font-size: 22px;
        }

        .wine-boxes, .other-boxes {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 3px;

            .box {
                // width: 100%;
                // height: 300px;
                .content {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    // height: 350px;
                    position: relative;


                    h3 {
                        // text-align: center;
                        position: absolute;
                        left: 15px;
                        bottom: 12px;
                        z-index: 1;
                        font-size: 18px;
                    }

                    .image-contain {
                        transition: .3s ease-in-out;

                        &::after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: rgba(0, 0, 0, 0.2);
                            cursor: pointer;
                        }

                        &:hover{
                            transform: scale(1.06);
                        }

                        a {
                            img {
                                // transition: .3s ease-in-out;
                                display: block;

                                // &:hover{
                                //     transform: scale(1.06);
                                // }
                            }
                        }
                    }
                }
            }
        }
    }

    // WINES AREA ENDS
}