// Sign Up For Offers Start
#sign-up-offers {
  padding: 120px 70px 0;
  background: $ivory url('../images/offers/offer7.jpg') no-repeat center center /
    cover;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  * {
    z-index: 1;
  }

  .container {
    padding: 0 0 70px;

    // Sign Up For Offers Content Starts
    .sign-up-content {
      padding: 85px 0 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-bottom: 35px;
        text-transform: uppercase;
        font-size: 37px;
        letter-spacing: 1.4px;
        color: $white;
        text-align: center;
      }

      // Form Starts
      #sign-up-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;

        //Form Validation Properties Starts
        .input-holder.success {
          input {
            border: 1px dashed $yellow;
          }
        }

        .input-holder {
          // margin-bottom: 10px;
          small {
            color: $white;
            display: none;
            // margin-bottom: 10px;
          }
        }

        .input-holder.error {
          margin-bottom: 10px;

          input {
            border: 2px solid $tomato;
          }

          ::placeholder {
            color: $tomato;
            opacity: 1;
          }

          :-ms-input-placeholder {
            color: $tomato;
          }

          ::-ms-input-placeholder {
            color: $tomato;
          }

          small {
            color: $white;
            display: block;
          }
        }

        //Form Validation Properties End

        input,
        label,
        button,
        p {
          width: 100%;
        }

        input {
          padding: 22px 15px;
          text-transform: uppercase;
          vertical-align: middle;
          font-size: 17px;
          font-weight: 800;
          font-family: 'Oswald', sans-serif;
          border: 2px solid $tomato;
          color: $dark;

          &:focus {
            outline: none;
          }
        }

        ::placeholder {
          color: $dark;
          opacity: 1;
        }

        :-ms-input-placeholder {
          color: $dark;
        }

        ::-ms-input-placeholder {
          color: $dark;
        }

        .terms {
          .policy {
            text-decoration: underline;
            color: $white;
          }
        }

        .button {
          display: block;
          padding: 15px 15px;
          font-size: 25px;
          text-transform: uppercase;
          font-weight: 800;
          cursor: pointer;
          height: 100%;
          font-family: 'Oswald', sans-serif;
          color: $white;
          background-color: transparent;
          border: 2px solid $white;
          transition: 0.3s ease-in-out;

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: $tomato;
            color: $white;
            border: 2px solid transparent;
          }
        }
      }

      // Form Ends
    }

    // Sign Up For Offers Content Ends
  }
}

// Sign Up For Offers End

// Steps To Earn Offers Start
#steps {
  padding: 70px 70px 100px;
  color: $white;
  background: $dark;

  .container {
    // Steps Content Starts
    .steps-content {
      h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
      }

      .arrow-down {
        text-align: center;
        margin-bottom: 70px;
      }

      // Steps Container Starts
      .steps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        // Step Starts
        .step {
          padding: 35px 7px 0;
          width: 100%;
          background: $white;
          color: $dark;
          transition: 0.3s ease-in-out;
          border-radius: 2px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &:hover {
            transform: scale(1.02);
          }

          .step-content {
            padding: 0 35px 55px;

            h2 {
              text-transform: uppercase;
              font-size: 30px;
              margin-bottom: 7px;
            }

            p {
              font-size: 18px;
              font-family: 'Open Sans', sans-serif;
            }
          }
        }

        // Step Ends
      }

      // Steps Container Ends

      // Steps Button Starts
      .steps-button {
        display: block;
        text-align: center;
        margin-top: 40px;

        a {
          display: inline-block;
          padding: 10px 60px;
          font-size: 25px;
          text-transform: uppercase;
          border: 1px solid $white;
          margin-top: 60px;
          color: $white;
          text-align: center;
          font-weight: 800;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $white;
            background: $tomato;
            border: 1px solid transparent;
          }
        }
      }

      // Steps Button Ends
    }

    // Steps Content Ends
  }
}

// Steps To Earn Offers End
