// SIGN UP FOR WEEKLY OFFERS BEGINS
#sign-up-offers {
    padding: 120px 70px 0;
    background: $ivory url('../images/offers/offer7.png') no-repeat center center / cover;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    * {
        z-index: 1;
    }

    .container {
        padding: 0 0 70px;

        .sign-up-content {
            padding: 85px 0 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                margin-bottom: 35px;
                text-transform: uppercase;
                font-size: 37px;
                letter-spacing: 1.4px;
                color: $white;
                text-align: center;
            }



            #sign-up-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                justify-content: center;
                align-items: center;


                input,
                label,
                button,
                p {
                    max-width: 100%;
                }

                input {
                    padding: 22px 15px;
                    text-transform: uppercase;
                    vertical-align: middle;
                    font-size: 17px;
                    font-weight: 800;
                    font-family: 'Oswald', sans-serif;
                    border: 2px solid $tomato;
                    color: $dark;

                    &:focus {
                        outline: none;
                        border: 1px dashed $yellow;
                    }
                }


                ::placeholder {
                    color: $dark;
                    opacity: 1;
                    /* Firefox */
                }

                :-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: $dark;
                }

                ::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: $dark;
                }

                .terms {
                    .policy {
                        text-decoration: underline;
                        color: $white;
                    }
                }

                .button {
                    display: block;
                    padding: 15px 15px;
                    font-size: 25px;
                    text-transform: uppercase;
                    font-weight: 800;
                    cursor: pointer;
                    height: 100%;
                    font-family: 'Oswald', sans-serif;
                    color: $white;
                    background-color: transparent;
                    border: 2px solid $white;
                    transition: .3s ease-in-out;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: $tomato;
                        color: $white;
                        border: 2px solid transparent;
                    }
                }

            }
        }
    }
}

// SIGN UP FOR WEEKLY OFFERS BEGINS

#steps {
    padding: 70px 70px 100px;
    color: $white;
    background: $dark;

    .container {
        //   padding: 0 0 160px;

        .steps-content {
            h3 {
                text-align: center;
                text-transform: uppercase;
                font-size: 30px;
                //   margin-bottom: 35px;
            }

            .arrow-down {
                text-align: center;
                margin-bottom: 70px;
            }

            .steps {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 30px;

                .step {
                    padding: 35px 7px 0;
                    width: 100%;
                    background: $white;
                    color: $dark;
                    transition: .3s ease-in-out;
                    border-radius: 2px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                   
                    

                    &:hover {
                        transform: scale(1.02);
                    }

                    .step-content {
                        padding: 0 35px 55px;

                        h2 {
                            text-transform: uppercase;
                            font-size: 30px;
                            margin-bottom: 7px;
                        }

                        p {
                            font-size: 18px;
                            font-family: 'Open Sans', sans-serif;

                        }
                    }

                   
                }
            }

            .steps-button {
                display: block;
                text-align: center;
                margin-top: 40px;

                a {
                    display: inline-block;
                    padding: 10px 60px;
                    font-size: 25px;
                    text-transform: uppercase;
                    border: 1px solid $white;
                    margin-top: 60px;
                    color: $white;
                    text-align: center;
                    font-weight: 800;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: $white;
                        background: $tomato;
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }
}