//ORDER HEADER STYLING BEGINS
#order-header {
    .order-top {
        background-color: $dark;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 120px;
        width: 100%;
        z-index: 2;
        overflow: hidden;

        .order-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
            padding: 25px 0;

            .order-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;

                .order-chef {
                    width: 50px;
                    display: inline-block;
                }

                h1 {
                    display: flex;
                    flex-direction: column;
                    font-family: 'Carter One', cursive;

                    span {
                        margin-top: -12px;
                        font-size: 9px;
                        letter-spacing: 2px;
                        font-family: 'Oswald', sans-serif;
                    }
                }
            }

            .order-options {
                display: flex;
                text-transform: uppercase;
                text-align: center;
                font-weight: 500;

                .delivery-nav,
                .collect-nav {
                    margin: 45px 25px 0;

                    a {
                        position: relative;
                        overflow: hidden;
                        border: none;

                        &::after {
                            content: '';
                            position: absolute;
                            background: $tomato;
                            height: 5px;
                            width: 0%;
                            transform: translateX(-50%);
                            left: 50%;
                            bottom: -5px;
                            border: none;
                            transition: .55s ease-in-out;
                        }

                        &:hover:after {
                            width: 100%;
                        }
                    }
                }
            }

            .access-links {
                display: flex;
                vertical-align: middle;

                li:first-child {
                    margin-right: 25px;
                }

                a {
                    position: relative;
                    overflow: hidden;
                    border: none;
                    font-size: 32px;
                    font-family: 'Carter One', cursive;


                    &::after {
                        content: '';
                        position: absolute;
                        background: $tomato;
                        height: 5px;
                        width: 0%;
                        transform: translateX(-50%);
                        left: 50%;
                        bottom: -1px;
                        border: none;
                        transition: .55s ease-in-out;
                    }

                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//ORDER HEADER STYLING ENDS

// DELIVERY SECTION BEGINS
#delivery {
    padding: 120px 70px 0;
    background-color: $ivory;
    color: $dark;
    // display: none;

    a {
        color: $dark;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .delivery-content {
            display: grid;
            grid-template-columns: 2fr 1fr;
            // grid-template-columns: 700px 365px;
            // grid-template-columns: 60% 40%;
            grid-column-gap: 20px;
            // justify-content: end;
            // align-items: center;
            padding: 50px 0;

            .delivery-form-content {
                padding: 0 25px;
                text-align: center;

                .form-heading {
                    text-transform: uppercase;
                    padding-bottom: 25px;
                }

                #delivery-form {
                    width: 100%;

                    input {
                        width: 100%;
                        padding: 16px 0 16px 10px;
                        font-family: 'Oswald', sans-serif;
                        border: 1px solid $tomato;
                        color: $dark;
                        font-size: 20px;

                        &:focus {
                            outline: none;
                            border: 1px dashed $yellow;
                        }

                        &::placeholder {
                            font-size: 16px;
                            color: $dark;
                        }

                        &:first-child {
                            margin-bottom: 8px;
                            font-weight: 100;
                        }
                    }

                    .limited {
                        text-transform: uppercase;
                    }

                    .look-up {
                        margin: 16px 0 30px;
                        text-align: left;


                        .delivery-button,
                        .cancel {
                            padding: 10px 12px;
                            text-transform: uppercase;
                            background: $tomato;
                            color: $white;
                            cursor: pointer;
                            border: 1px solid transparent;

                            &:focus {
                                outline: none;
                            }
                        }

                        .cancel {
                            background: $dark;
                            margin: 0 3px;
                        }
                    }



                    .phone {
                        margin: 20px 0;
                    }

                    .use {
                        color: $white;
                        background: $tomato;
                        cursor: pointer;
                        margin-bottom: 30px;
                    }
                }

                .create {
                    a {
                        text-transform: uppercase;
                        color: $tomato;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }

            .apply {
                max-width: 365px;

                .redeem-points {
                    text-transform: uppercase;
                    line-height: 1.1;
                    font-weight: 800;
                    font-size: 25px;
                    border-bottom: 1px solid $tomato;
                    padding-bottom: 14px;
                    vertical-align: middle;
                    display: inline-block;

                }

                .member {
                    padding-top: 10px;
                    text-transform: uppercase;
                }

                .redeem-input {
                    margin: 20px 0;
                    width: 100%;
                    display: block;
                    // display: flex;

                    input {
                        padding: 16px 0 16px 10px;
                        width: 70%;
                        vertical-align: middle;
                        display: inline-block;
                        font-family: 'Oswald', sans-serif;
                        border: 1px solid $tomato;
                        color: $dark;
                        font-size: 20px;

                        &:focus {
                            outline: none;
                            border: 1px dashed $yellow;
                        }

                        &::placeholder {
                            font-size: 16px;
                            color: $dark;
                        }
                    }

                    a {
                        vertical-align: middle;
                        display: inline-block;
                        border: 2px solid $tomato;
                        width: 130px;
                        height: 64px;
                        text-align: center;
                        line-height: 3.9;
                        text-transform: uppercase;
                        transition: .3s ease-in-out;
                        max-width: 28%;
                        overflow: hidden;

                        &:hover {
                            color: $white;
                            background-color: $tomato;
                            border: 2px solid transparent;
                        }
                    }
                }

                .yet {
                    a {
                        color: $tomato;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

// DELIVERY SECTION ENDS

// COLLECT SECTION BEGINS
#collect {
    padding: 120px 70px 0;
    background-color: $ivory;
    color: $dark;
    // display: none;

    a {
        color: $dark;
    }

    .container {

        //    max-width: 1200px;
        //    margin: 0 auto;
        .collect-content {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-gap: 20px;
            justify-content: space-between;
            // align-items: center;
            padding: 50px 0;

            .start-content {
                h2 {
                    text-transform: uppercase;
                    font-size: 35px;
                }

                .collect-form {
                    width: 100%;

                    .time-input {
                        display: flex;
                        align-items: center;
                        margin: 50px 0;

                        // justify-content: center;
                        .time {
                            display: flex;
                            flex-direction: column;

                            input[type="time"] {
                                padding: 27px 10px;
                                width: 220px;
                                height: 45px;
                                border: 1px solid $tomato;
                                font-size: 18px;

                                &:focus {
                                    outline: none;
                                    border: 1px dashed $yellow;
                                }
                            }
                        }

                        .date {
                            display: flex;
                            flex-direction: column;
                            margin: 0 0 0 10px;

                            input[type="date"] {
                                padding: 27px 10px;
                                width: 220px;
                                height: 45px;
                                border: 1px solid $tomato;
                                font-size: 18px;

                                &:focus {
                                    outline: none;
                                    border: 1px dashed $yellow;
                                }


                            }
                        }

                    }

                    .specify {
                        display: block;
                        width: 100%;
                        text-transform: capitalize;
                        font-size: 18px;
                        margin-bottom: 20px;


                        input[type="checkbox"] {
                            width: 20px;
                            height: 20px;
                            vertical-align: -20%;
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        // change the background color of checkbox Tick
                    }

                    .collect-button {
                        color: $white;
                        background: $tomato;
                        padding: 15px 50px;
                        text-transform: uppercase;
                        cursor: pointer;
                        border: 1px solid transparent;

                        &:focus {
                            outline: none;

                        }
                    }
                }
            }

            .apply {
                // border: 1px solid $dark;
                // width: 25%;
                // margin-top: -500px;
                // border: 1px solid $dark;
                max-width: 365px;

                .redeem-points {
                    text-transform: uppercase;
                    line-height: 1.1;
                    font-weight: 800;
                    font-size: 25px;
                    border-bottom: 1px solid $tomato;
                    // width: 89%;
                    padding-bottom: 14px;
                }

                .member {
                    padding-top: 10px;
                    text-transform: uppercase;
                }



                .redeem-input {
                    margin: 20px 0;
                    width: 100%;
                    display: block;
                    // display: flex;

                    input {
                        padding: 16px 0 16px 10px;
                        width: 70%;
                        vertical-align: middle;
                        display: inline-block;
                        font-family: 'Oswald', sans-serif;
                        border: 1px solid $tomato;
                        color: $dark;
                        font-size: 20px;

                        &:focus {
                            outline: none;
                            border: 1px dashed $yellow;
                        }

                        &::placeholder {
                            font-size: 16px;
                            color: $dark;
                        }
                    }

                    a {
                        vertical-align: middle;
                        display: inline-block;
                        border: 2px solid $tomato;
                        width: 130px;
                        height: 64px;
                        text-align: center;
                        line-height: 3.9;
                        text-transform: uppercase;
                        transition: .3s ease-in-out;
                        max-width: 28%;
                        overflow: hidden;

                        &:hover {
                            color: $white;
                            background-color: $tomato;
                            border: 2px solid transparent;
                        }
                    }
                }

                .yet {
                    a {
                        color: $tomato;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

// COLLECT SECTION ENDS


// REGISTER, LOG IN BEGINS
// REGISTER SECTION BEGINS
#register {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    margin: 0 auto;
    display: none;

    a {
        color: $dark;
    }

    .popup {
        // border: 1px solid $dark;
        border-radius: 3px;
        background-color: $ivory;
        color: $dark;
        max-width: 850px;
        margin: 60px auto 0;
        width: 100%;

        .popup-header {
            display: flex;
            background-color: $tomato;
            align-items: center;
            justify-content: space-between;
            vertical-align: middle;
            color: $white;
            text-transform: uppercase;
            padding: 8px 20px 10px;
            font-size: 18px;

            .close-register {
                cursor: pointer;
                font-size: 21px;
            }
        }

        .popup-content {
            padding: 10px 30px;

            .easy {
                text-transform: uppercase;
                font-size: 20px;
                border-bottom: 1px solid $tomato;
                padding: 12px 0 22px;
            }

            .now {
                text-transform: uppercase;
                font-size: 25px;
                padding: 20px 0;
            }

            #form-register {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 80px;
                justify-content: center;

                // align-items: center;
                .left-input {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 18px 10px;
                        margin-bottom: 30px;

                        width: 100%;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        // border: 1px solid transparent;
                        font-size: 16px;
                        // font-weight: 800;
                        color: $dark;
                        // background-color: $white;
                        font-family: 'Oswald', sans-serif;

                        &:focus {
                            outline: none;
                            border: 1px dashed $yellow;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .right-input {
                    input[type="text"] {
                        width: 100%;
                        padding: 18px 10px;
                        // margin-bottom: 30px;

                        border: 1px solid rgba(0, 0, 0, 0.1);
                        // border: 1px solid transparent;
                        font-size: 16px;
                        // font-weight: 800;
                        color: $dark;
                        // background-color: $white;
                        font-family: 'Oswald', sans-serif;

                        &:focus {
                            outline: none;
                            border: 1px dashed $yellow;
                        }

                        &:first-child {
                            margin-bottom: 10px;
                        }
                    }

                    .text-label {
                        color: $tomato;
                    }

                    #text2 {
                        margin: 30px 0;
                    }

                    .receive {
                        margin: 20px 0 35px;

                        input[type="checkbox"] {
                            vertical-align: -11%;
                            margin-right: 10px;
                            cursor: pointer;
                            zoom: 1.3;
                        }
                    }

                    .creating {
                        vertical-align: middle;

                        input[type="checkbox"] {
                            vertical-align: -11%;
                            margin-right: 10px;
                            cursor: pointer;
                            zoom: 1.3;
                        }

                        label {
                            a {
                                color: $tomato;
                                text-decoration: underline;
                            }
                        }
                    }


                    .btn-register {
                        margin: 30px 0;
                        padding: 18px 35px;
                        background-color: $tomato;
                        border: 1px solid transparent;
                        color: $white;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-weight: 800;
                        display: block;
                        font-family: 'Oswald', sans-serif;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

        }
    }
}
// REGISTER SECTION ENDS

// LOGIN SECTION BEGINS
#login-register {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    // left: 0;
    // right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    display: none;

    a {
        color: $dark;
        font-family: 'Oswald', sans-serif;
    }

    // .container {
    // .login-register-wrapper {

    .login-register-content {
        border-radius: 3px;
        background-color: $ivory;
        color: $dark;
        max-width: 725px;
        margin: 60px auto 0;
        width: 100%;

        .login-register-header {
            display: flex;
            background-color: $tomato;
            align-items: center;
            justify-content: space-between;
            vertical-align: middle;
            color: $white;
            text-transform: uppercase;
            padding: 8px 20px 10px;
            font-size: 15px;

            .close {
                cursor: pointer;
                font-size: 21px;
            }
        }

        .login-register-box {
            display: grid;
            grid-template-columns: 48% 2% 48%;
            padding: 20px 30px;
            grid-gap: 20px;
            justify-content: center;
            //    align-items: center;

            #login-form {
                padding-right: 10px;

                .login {
                    color: $tomato;
                    text-transform: uppercase;
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                input[type="email"],
                input[type="text"] {
                    width: 100%;
                    padding: 18px 10px;
                    margin: 15px 0;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    font-size: 16px;
                    color: $dark;
                    font-family: 'Oswald', sans-serif;

                    &:focus {
                        outline: none;
                        border: 1px dashed $yellow;
                    }
                }

                .remember {
                    margin: 10px 0 0;
                    font-family: 'Oswald', sans-serif;
                    vertical-align: middle;

                    input[type="checkbox"] {
                        vertical-align: -11%;
                        margin: 7px 5px 0 0;
                        cursor: pointer;
                        zoom: 1.3;
                    }
                }

                .login-btn {
                    width: 100%;
                    margin: 30px 0;
                    padding: 18px 35px;
                    background-color: $tomato;
                    border: 1px solid transparent;
                    color: $white;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-weight: 800;
                    display: block;
                    font-family: 'Oswald', sans-serif;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .forgot {
                    color: $tomato;
                    font-weight: 100;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .vertical-line {
                width: 1px;
                height: 100%;
                background-color: $dark;
            }

            .create-alternative {
                padding-right: 10px;

                .create-header {
                    color: $tomato;
                    text-transform: uppercase;
                    font-size: 20px;
                    margin-bottom: 16px;
                }


                button {
                    margin: 30px 0;
                    padding: 18px 50px;
                    background-color: $tomato;
                    border: 1px solid transparent;
                    color: $white;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-weight: 800;
                    display: block;
                    font-family: 'Oswald', sans-serif;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

    }

    // }
    // }
}

// LOGIN SECTION ENDS
// REGISTER, LOG IN ENDS