// Variables
// colors
$dark: #0c0c0c;
$light-dark: #24262A;
$dim-grey: #4F4F59;
$grey: #5A5A66;
$dim-dark: #252529;
$light-grey: #2B2D31;
$grey-one: #383838;
$grey-two: #333;
$grey-three: #8C8C8C;
$grey-four: #404040;
$grey-five: #383838;
$white: #fff;
$yellow: #FCC000;
$ivory: #FCFCF3;
$trial: #73020C;
// $trial: #FCC000;



// Imported SCSS Files

// lemon
// @import url('https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// rye
// @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

// carter
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// aclonica
// @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
// oleo
// @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // background: #f6f2e8;
    background: $white;
    color: $white;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: $white;
}

ul {
    list-style: none;
}

.container {
    max-width: 1670px;
    margin: 0 auto;
}

img {
    width: 100%;
}


// HEADER STYLING BEGINS
#header {
    .top {
        // background: url('../images/header/header6.jpg') no-repeat center center / cover;
        // background-color: rgba(0, 0, 0, 0.9);
        background-color: $dark;
        // background-color: #191919;
        // background-color: #262626;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 120px;
        width: 100%;
        z-index: 2;
        overflow: hidden;


        &::after {
            content: '';
            position: absolute;
            // background: rgba(0, 0, 0, 0.9);
            // background-color: rgba(0, 0, 0, 0.4);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        * {
            z-index: 1;
        }

        .navigation {

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
            padding: 25px 0;

            li {
                border: none;
                padding: 1px 15px;

                a {
                    position: relative;
                    overflow: hidden;
                    border: none;


                    &::after {
                        content: '';
                        position: absolute;
                        background: $trial;
                        height: 1px;
                        width: 0%;
                        transform: translateX(-50%);
                        left: 50%;
                        bottom: -5px;
                        border: none;
                        transition: .55s ease-in-out;
                    }

                    &:hover:after {
                        width: 100%;
                    }


                }
            }

            .logo-holder {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;

                    .chef {
                        width: 50px;
                        display: inline-block;
                    }

                    .logo {
                        display: flex;
                        flex-direction: column;
                        font-family: 'Carter One', cursive;

                        span {
                            margin-top: -12px;
                            font-size: 9px;
                            letter-spacing: 2px;
                            font-family: 'Oswald', sans-serif;
                        }
                    }
                }
            }
        }

    }
}

// MAIN AREA BEGINS
#main-area {

    // margin-top: 120px;
    // CAROUSEL BEGINS
    #carousel {
        position: relative;
        top: 120px;
        // background-color: $light-dark;
        overflow: hidden;
        height: 530px;
        width: 100vw;
        z-index: 1;



        .slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            // background-color: #FCFCF3;
            // background-color: $light-dark;

            .content {
                position: absolute;
                width: 50%;
                height: 100%;
                color: $white;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                a {
                    color: $dark;
                    display: block;
                }

            }

            .content.delicious {
                text-transform: uppercase;

                // align-items: flex-end;
                h3 {
                    font-size: 65px;
                    line-height: 1.2;
                    // color: $light-grey;
                    color: $white;

                    .menu {
                        color: $trial;
                    }
                }

                a {
                    background: $trial;
                    // background: $white;
                    // background: $light-dark;
                    padding: 10px 50px;
                    font-size: 35px;
                    font-weight: 800;
                    border-radius: 3px;
                    color: $white;
                    // color: $dark;
                    // color: $white;
                    margin: 20px 0 20px;
                }
            }



            .content.break {
                text-transform: uppercase;
                // width: 50%;
                // background: $light-dark;

                h3 {
                    font-size: 65px;
                    line-height: 1.1;
                    // color: $light-grey;
                    color: $white;

                    .break {
                        color: $trial;
                    }
                }

                p {
                    margin: 10px 0 -6px;
                }

                a {
                    display: block;
                    background: $trial;
                    padding: 10px 50px;
                    font-size: 35px;
                    font-weight: 800;
                    border-radius: 3px;
                    color: $white;
                    margin: 20px 0 20px;
                }
            }

            .content.corona {
                background-color: $ivory;
                width: 100%;
                color: $dark;
                margin-top: -35px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                }



                .safe {
                    color: $trial;
                }

                h3 {
                    font-size: 70px;
                    text-transform: uppercase;
                }

                p {
                    padding: 0 80px;
                    font-size: 27px;
                }

                .measures {
                    display: flex;
                    margin: 20px 0 0;

                    .measure {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        margin: 0 20px;

                        i {
                            color: $white;
                            background: $trial;
                            // padding: 20px;
                            border-radius: 50%;
                            width: 130px;
                            height: 130px;
                            text-align: center;
                            font-size: 50px;
                            line-height: 130px;
                            margin-bottom: 10px;
                        }

                        .guidelines {
                            font-size: 20px;
                            text-align: center;
                            line-height: 1.2;
                            text-transform: uppercase;
                            font-weight: 450;
                        }
                    }
                }
            }

        }

        .slider.current {
            opacity: 1;

            .content {
                opacity: 3;
            }
        }

        .buttons {

            // position: absolute;
            // top: 50%;
            // left: 17px;
            button {
                padding: 14px 16px;
                border-radius: 50%;
                border: 1.5px solid $white;
                background-color: transparent;
                color: $white;
                outline: none;
                cursor: pointer;
                z-index: 2;

                &:hover {
                    background-color: $white;
                    color: $trial;
                }
            }

            .previous {
                position: absolute;
                top: 45%;
                left: 17px;
            }

            .next {
                position: absolute;
                top: 45%;
                right: 17px;
            }

        }

        // SLIDER IMAGES
        .slider:first-child {
            background: url(../images/steaks/steaky12.jpg) no-repeat center center/cover;

            &::after {
                content: '';
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            * {
                z-index: 2;
            }
        }

        .slider:nth-child(2) {
            background: url(../images/steaks/oma.jpg) no-repeat center center/cover;



            &::after {
                content: '';
                position: absolute;
                background: rgba(0, 0, 0, 0.2);
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            * {
                z-index: 2;
            }
        }
    }

    // CAROUSEL ENDS

    // START SECTION BEGINS
    #start-section {
        margin-top: 180px;
        padding: 0 70px;

        .container {
            .start {
                background: $white url('../images/steaks/steaky25.jpg') no-repeat center center / cover;
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;

                h3 {
                    font-size: 35px;
                    letter-spacing: 3px;
                }

                .options {
                    margin-top: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .delivery,
                    .pickup {
                        color: $white;
                        font-size: 22px;
                        font-weight: 800;
                        background: $trial;
                        padding: 10px 0;
                        border-radius: 3px;
                        width: 150px;
                        text-align: center;
                        transition: 0.35s ease-out;

                        &:hover {
                            background-color: $trial;
                            opacity: 0.8;
                        }
                    }

                    span {
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    // START SECTION ENDS

    // APP SECTION STARTS
    #app {
        margin-top: 40px;
        padding: 0 70px;
        color: $dark;

        .container {
            a {
                color: $dark;
            }

            // display: flex;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-gap: 50px;

            .left {
                background-color: $ivory;
            }

            .right {

                h3 {
                    font-size: 32px;
                    margin-bottom: 12px;
                }

                p {
                    // font-family: 'Open Sans', sans-serif;
                    & + &:first-child {

                        // font-family: 'Open Sans', sans-serif;
                        // margin-bottom: 35px;
                    }
                    &::nth-child(2){
                        // margin-top: 50px;
                    }
                }
                p.convenience{
                     font-family: 'Open Sans', sans-serif;
                }

                p.cost{
                    font-family: 'Open Sans', sans-serif;
                    margin: 15px 0 35px;
                    font-size: 12px;
                }
               

                a {
                    // display: block;
                    background: $trial;
                    padding: 12px 60px;
                    text-align: center;
                    // font-size: 35px;
                    // font-weight: 800;
                    border-radius: 3px;
                    color: $white;
                }
            }
        }
    }

    // APP SECTION ENDS
}

// MAIN ARE ENDS