// Variables
// colors
$dark: #000;
$light-dark: #24262A;
$dim-grey: #4F4F59;
$grey: #5A5A66;
$dim-dark: #252529;
$light-grey: #2B2D31;
$grey-one: #383838;
$grey-two: #333;
$grey-three: #8C8C8C;
$grey-four: #404040;
$grey-five: #383838;
$white: #fff;
$yellow: #FCC000;
$trial: #73020C;
// $trial: #591C05;
// $trial: #F28963;


// Imported SCSS Files


// Core Styling
// font-family: TradeGothicLTPro-BoldCondTwenty,sans-serif; GENERAL FONT
// font-family: obsGlyphs,sans-serif; LOGO FONT

// lemon
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// rye
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

// carter
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
// aclonica
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
// oleo
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // background: #f6f2e8;
    background: $white;
    color: $white;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: $white;
}

ul {
    list-style: none;
}

.container {
    max-width: 1670px;
    margin: 0 auto;
}

img {
    width: 100%;
}


// HEADER STYLING BEGINS
#header {
    .top {
        background: url('../images/header/header6.jpg') no-repeat center center / cover;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 120px;
        width: 100%;
        z-index: 2;


        &::after {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.6);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        * {
            z-index: 1;
        }

        .navigation {
        
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
            padding: 25px 0;

            li {
                border: none;
                padding: 1px 15px;

                a {
                    position: relative;
                    overflow: hidden;
                    border: none;


                    &::after {
                        content: '';
                        position: absolute;
                        background: $yellow;
                        height: 1px;
                        width: 0%;
                        transform: translateX(-50%);
                        left: 50%;
                        bottom: -5px;
                        border: none;
                        transition: .55s ease-in-out;
                    }

                    &:hover:after {
                        width: 100%;
                    }


                }
            }

            .logo-holder {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;

                    .chef {
                        width: 50px;
                        display: inline-block;
                    }

                    .logo {
                        display: flex;
                        flex-direction: column;
                        font-family: 'Carter One', cursive;

                        span {
                            margin-top: -12px;
                            font-size: 10px;
                            letter-spacing: 2px;
                            font-family: 'Oswald', sans-serif;
                        }
                    }
                }
            }
        }

    }
}

// MAIN AREA BEGINS
#main-area {
    // margin-top: 120px;
     // CAROUSEL BEGINS
     #carousel {
        position: relative;
        top: 120px;
       background-color: #FCFCF3;
        overflow: hidden;
        height: 530px;
        width: 100vw;
        z-index: 1;

        .slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            // background-color: #FCFCF3;
            background-color: $light-dark;

            .content {
                position: absolute;
                width: 50%;
                height: 100%;
                color: $white;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                a{
                    color: $dark;
                }

            }

            .content.delicious{
                text-transform: uppercase;
                // align-items: flex-end;
                h3{
                    font-size: 65px;
                    line-height: 1.2;
                    // color: $light-grey;
                    color: $white;
                    .menu{
                        color: $trial;
                    }
                }
                a{
                    background: $trial;
                    // background: $white;
                    // background: $light-dark;
                    padding: 10px 50px;
                    font-size: 35px;
                    font-weight: 800;
                    border-radius: 3px;
                    color: $white;
                    // color: $dark;
                    // color: $white;
                    margin: 20px 0 20px;
                }
            }

            .content.break{

            }

            .content.corona {
                width: 100%;
            }

        }

        .slider.current {
            opacity: 1;

            .content {
                opacity: 1;
            }
        }

        .buttons {
          
                .previous {
                    position: absolute;
                    top: 50%;
                    left: 17px;
                }
                .next{
                    position: absolute;
                    top: 50%;
                    right: 17px;
                }
               
        }

        // SLIDER IMAGES
        .slider:first-child{
            background: url(../images/steaks/steak17.jpg) no-repeat center center/cover;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                // background: rgba(0, 0, 0, 0.2);
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            *{
                z-index: 2;
            }
        }
    }

    // CAROUSEL ENDS

    // START SECTION BEGINS
    // #start-section {
    //     padding: 0 70px;

    //     .container {
    //         .start {
    //             background: $white url('../images/steaks/steak65.jpg') no-repeat center center / cover;
    //             height: 300px;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             text-transform: uppercase;

    //             h3 {
    //                 font-size: 35px;
    //                 letter-spacing: 3px;
    //             }

    //             .options {
    //                 margin-top: 40px;
    //                 display: flex;
    //                 justify-content: center;
    //                 align-items: center;

    //                 .delivery,
    //                 .pickup {
    //                     color: $dark;
    //                     font-size: 22px;
    //                     font-weight: 800;
    //                     background: $yellow;
    //                     padding: 10px 0;
    //                     border-radius: 3px;
    //                     width: 150px;
    //                     text-align: center;
    //                     transition: 0.35s ease-out;

    //                     &:hover {
    //                         background-color: $yellow;
    //                         opacity: 0.8;
    //                     }
    //                 }

    //                 span {
    //                     margin: 0 10px;
    //                 }
    //             }
    //         }
    //     }
    // }

    // START SECTION ENDS
}

// MAIN ARE ENDS