// Variables
// colors
$dark: #000;
$light-dark: #24262A;
$dim-grey: #4F4F59;
$grey: #5A5A66;
$dim-dark: #252529;
$light-grey: #2B2D31;
$grey-one: #383838;
$grey-two: #333;
$grey-three: #8C8C8C;
$grey-four: #404040;
$grey-five: #383838;
$white: #fff;
$yellow: #FCC000;


// Imported SCSS Files


// Core Styling
// font-family: TradeGothicLTPro-BoldCondTwenty,sans-serif; GENERAL FONT
// font-family: obsGlyphs,sans-serif; LOGO FONT

// lemon
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// rye
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

// carter
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
// aclonica
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
// oleo
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // background: #f6f2e8;
    background: $white;
    color: $white;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $white;
}

ul {
    list-style: none;
}

.container {
    max-width: 1670px;
    margin: 0 auto;
}

img {
    width: 100%;
}


// HEADER STYLING BEGINS
#header {
    .top {
        // background: $grey-five;
        // background: $dim-dark;
        // background: $dark;
        background: url('../images/header/header6.jpg') no-repeat center center / cover;
        display: block;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.6);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        * {
            z-index: 1;
        }

        // .container {
        .navigation {
            // background: $dark;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
            padding: 25px 0;

            li {
                border: none;
                  padding: 1px 15px;
                a {
                    position: relative;
                    overflow: hidden;
                    border: none;
                  

                    &::after {
                        content: '';
                        position: absolute;
                        background: $yellow;
                        // border-bottom: 1px solid $yellow;
                        height: 1px;
                        width: 0%;
                        transform: translateX(-50%);
                        left: 50%;
                        bottom: -5px;
                        border: none;
                        transition: .55s ease-in-out;

                        // margin: 0 auto;
                    }

                    &:hover:after{
                        width: 100%;
                    }
                   

                }
            }

            .logo-holder {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;

                    // text-align: center;
                    .chef {
                        width: 50px;
                        display: inline-block;
                    }

                    .logo {
                        display: flex;
                        flex-direction: column;
                        // font-family: 'Lemon', cursive;
                        // font-family: 'Rye', cursive;
                        font-family: 'Carter One', cursive;
                        // font-family: 'Aclonica', sans-serif;
                        // font-family: 'Oleo Script', cursive;

                        span {
                            margin-top: -12px;
                            font-size: 10px;
                            letter-spacing: 2px;
                            font-family: 'Oswald', sans-serif;
                        }
                    }
                }
            }
        }

        // }
    }


    // INTRO BEGINS
    #intro {
        color: black;
        height: 500px;
        border: 1px solid black;
    }

    // INTRO ENDS
}

// MAIN AREA BEGINS
#main-area {

    // START SECTION BEGINS
    #start-section {
        padding: 0 70px;

        .container {
            .start {
                background: $white url('../images/steaks/steak65.jpg') no-repeat center center / cover;
                height: 30vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;

                h3 {
                    font-size: 35px;
                    letter-spacing: 3px;
                    margin-bottom: 40px;
                }

                .options {
                    // margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .delivery,
                    .pickup {
                        color: $dark;
                        font-size: 22px;
                        font-weight: 800;
                        background: $yellow;
                        padding: 10px 0;
                        border-radius: 3px;
                        width: 150px;
                        text-align: center;
                    }

                    span {
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    // START SECTION ENDS
}

// MAIN ARE ENDS